<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Title }}</title>{{ if .Site.Params.Favicon }}<!-- FAVICON -->
    <link rel="shortcut icon" href="{{ .Site.Params.Favicon }}">
    <link rel="icon" type="image/png" href="{{ .Site.Params.Favicon }}" sizes="192x192">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.Favicon }}"><!-- END FAVICON -->{{ end }}
    <link rel="stylesheet" href="css/slate.css">
    <!-- HEADER -->
    {{ partial "header.html" . }}
    <!-- END HEADER -->
</head>

<body{{ if .Site.Params.BackgroundStyle }} style='background: {{ .Site.Params.BackgroundStyle | safeCSS }};' {{ end }}
{{- if .Site.Params.BackgroundImages }} data-backgrounds='{{ range .Site.Params.BackgroundImages }}{{ . }},{{ end }}'{{- end }}>

{{ partial "nav.html" . }}

<div class="container">{{ partial "tile_slate.html" . }}
</div>

</body>
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
<script src="js/slate.js"></script>
<!-- FOOTER -->
{{ if partial "footer.html" . }}<footer>{{ partial "footer.html" . }}</footer>{{ end }}
<!-- END FOOTER -->
</html>
